html{

    
}
body{
    background-color: $negro;
}
.contenedor-estetica{
    height: 100vh;
    @include grid (2, $separacion);
    .imagen{
        background-image: url(./1.jpg);
    }
}
    
    
